<h2>Update User</h2>
<form action="users/update" method="post">
  <label for="updateId">User ID:</label>
  <input class="input" type="text" id="updateId" name="updateId" required>
  <br>
  <label for="updateFirstName">First Name:</label>
  <input class="input" type="text" id="updateFirstName" name="updateFirstName" required>
  <br>
  <label for="updateLastName">Last Name:</label>
  <input class="input" type="text" id="updateLastName" name="updateLastName" required>
  <br>
  <label for="updateEmail">Email:</label>
  <input class="input" type="email" id="updateEmail" name="updateEmail" required>
  <br>
  <button class="button" type="submit">Update User</button>
</form>